@import "~@sass/_variables";
@import "~@sass/_func";

* {
  box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

*{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color:transparent;
}  
html, body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  -webkit-tap-highlight-color: none;
  -webkit-overflow-scrolling: touch !important;
  user-select: none;
  margin:0;
  padding: 0;
  background-color: #f2f2f2;
  height: 100vh;
  // overflow-y: scroll;
}

h1, input, ul, ol {
   margin:0;
   padding: 0;
}

::-webkit-input-placeholder { /* WebKit browsers */ 
  color: rgba(0,0,0,.38); 
} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
  color: rgba(0,0,0,.38); 
} 
::-moz-placeholder { /* Mozilla Firefox 19+ */ 
  color: rgba(0,0,0,.38); 
} 
:-ms-input-placeholder { /* Internet Explorer 10+ */ 
  color: rgba(0,0,0,.38); 
}

input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset;}

.banner {
    width: 100%;
    height: pxToRem(290px);
    background-color: #0e6ae7;
    box-shadow: pxToRem(0px) pxToRem(0px) pxToRem(20px) pxToRem(0px) rgba(0, 0, 0, 0.06);
    padding-top: pxToRem(75px);
    box-sizing: border-box;
}

.myicon {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;

    &.one {
        background-image: url('~@assets/borrow/1_icon_nor.png');

        &.one.active {
            background-image: url('~@assets/borrow/1_icon_light.png');
        }
    }
    &.two {
        background-image: url('~@assets/borrow/2_icon_nor.png');
               
        &.active {
            background-image: url('~@assets/borrow/2_icon_light.png');
        }
    }
    &.three {
        background-image: url('~@assets/borrow/3_icon_nor.png');
               
        &.active {
            background-image: url('~@assets/borrow/3_icon_light.png');
        }
    }

    &.four {
        background-image: url('~@assets/borrow/4_icon_nor.png');
               
        &.active {
            background-image: url('~@assets/borrow/4_icon_light.png');
        }
    }
}